* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
// font
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url(../font/KOTRA_GOTHIC.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bookk Myungjo";
  src: url(../font/부크크명조_굵은글씨.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bookk Myungjo";
  src: url(../font/부크크명조_얇은글씨.woff);
  font-weight: 400;
  font-style: normal;
}

// mixin
$main: #fcf9ee;
$sub: #000;
$border: (0.3px solid #000);
@mixin ko {
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
  font-style: normal;
}

@mixin en {
  font-family: "Bookk Myungjo";
  font-weight: 400;
  font-style: normal;
}
@mixin en_b {
  font-family: "Bookk Myungjo";
  font-weight: 700;
  font-style: bold;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin text($height) {
  text-align: center;
  line-height: $height;
}
/* $max-width: 0;
$col: 90px;
$mar: 20px;

@function columns($colNum: 0, $marNum: 0) {
  @return $max-width = (($col * $colNum)+ ($mar * $marNum));
}
 */
body {
  background-color: $main;
  position: relative;
}
///body
h3 {
  @include en();
  padding: 5px;
} //title en
.search {
  display: none;
  @include size(100%, 180px);
  left: 0;
  top: 0;
  background-color: #fcf9ee;
  position: absolute;
  .logo {
    @include size(200px, auto);
    padding-top: 10px;
    margin: 0 45px;
    @include en_b();
    p {
      text-align: center;
      font-size: 30px;
      letter-spacing: 5px;
    }
    p:last-child {
      font-size: 12px;
      letter-spacing: 5px;
    }
  }
  input {
    border: none;
    border-bottom: 1px solid #000;
    display: block;
    width: 80%;
    margin: 30px auto;
    background-color: #fcf9ee;
    padding: 5px;
  }
  input:focus {
    outline: none;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    opacity: 0;
    position: absolute;
    right: 0;
  }
  span {
    position: absolute;
    top: 0;
    right: 1%;
    cursor: pointer;
    font-size: 30px;
  }
}
.header_outer {
  position: fixed;
  top: 0;
  @include size(100%, auto);
  //border: 1px solid #fff;
  //border-right: none;
  //border-left: none;
  box-sizing: border-box;
  /* position: sticky;
      top: 0; */
  background-color: #fcf9ee;
  z-index: 9999;
}
.header {
  @include size(1300px, 80px);
  @include en();
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  color: #000;
  .logo {
    @include size(200px, auto);
    padding-top: 10px;
    margin: 0 45px;
    color: #000;
    p {
      text-align: center;
      font-size: 30px;
      letter-spacing: 5px;
    }
    p:last-child {
      font-size: 12px;
      letter-spacing: 5px;
    }
  }
  .menu_box {
    @include size(570px, 100%);
    .menu_list {
      @include size(100%, 100%);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .menu {
        @include size(50px, 50px);
        margin-right: 80px;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
      }
      .menu:hover {
        border-bottom: 0.5px solid #000;
      }
      .new_list {
        width: 800px;
        height: 0;
        display: flex;
        overflow: hidden;
        line-height: 100px;
        transition: 0.2s;
        li {
          margin-right: 50px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
      .menu01:hover .new_list {
        height: 100px;
      }
      .sent_list {
        width: 800px;
        height: 0;
        display: flex;
        overflow: hidden;
        line-height: 100px;
        transition: 0.2s;

        li {
          margin-right: 50px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
      .menu02:hover .sent_list {
        height: 100px;
      }
      .shop_list {
        width: 800px;
        height: 0;
        display: flex;
        overflow: hidden;
        line-height: 100px;
        transition: 0.2s;

        li {
          margin-right: 50px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
      .menu03:hover .shop_list {
        height: 100px;
      }
      .about_list {
        width: 800px;
        height: 0;
        display: flex;
        overflow: hidden;
        line-height: 100px;
        transition: 0.2s;

        li {
          margin-right: 50px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
      .menu04:hover .about_list {
        height: 100px;
      }
    }
  }
  .gnb {
    display: flex;
    margin-right: 45px;
    margin-left: auto;
    filter: brightness(0);

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 140px;
      li {
        @include size(30px, 30px);
        cursor: pointer;
        img {
          @include size(100%, 100%);
        }
      }
      li:first-child img {
        width: 80%;
        height: 80%;
        padding-top: 4px;
        padding-left: 4px;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}
//
//

//
.footer {
  @include size(1300px, 400px);
  margin: 0 auto;
  background-color: #444;
  color: #fff;
  padding: 25px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 12px;
  .footer_inner {
    @include size(1250px, 350px);
    margin: 0 auto;
    border: 2px solid #ddd;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .footer_left {
      padding-left: 115px;
      .footer_menu {
        margin-bottom: 30px;
        ul {
          display: flex;
          margin-top: 35px;

          li {
            margin-right: 30px;
            cursor: pointer;
          }
        }
      }
      .info {
        p {
          margin-bottom: 10px;
        }
        span {
          margin-left: 30px;
        }
        p:nth-child(2) span:last-child {
          text-decoration: underline;
        }
        p:nth-child(4) {
          margin-bottom: 40px;
        }
        p:last-child span {
          text-decoration: underline;
        }
      }
    }
    .footer_right {
      margin-right: 150px;
      .logo_box {
        margin-top: 30px;
        @include size(140px, 70px);
        font-size: 12px;
        margin-bottom: 70px;
        p {
          border: 1px solid #fff;
          text-align: center;
          box-sizing: border-box;
        }
        p:last-child {
          border-top: none;
          white-space: nowrap;
          box-sizing: border-box;
          font-size: 10px;
          overflow: hidden;
        }
      }
      .sns_icon {
        display: flex;
        overflow: hidden;
        /*  .insta {
          } */
      }
      .sns_icon div {
        @include size(40px, 40px);

        box-sizing: border-box;
        overflow: hidden;
      }
    }
  }
}

//
//detail

.detail {
  @include size(1300px, auto);
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 120px;
  .path_box {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .item_box {
    display: flex;
    background-color: #fff;
    margin-bottom: 40px;
    .left_box {
      @include size(750px, 650px);
      .detail_swiper2 {
        @include size(750px, 450px);
        .swiper-wrapper .swiper-slide {
          img {
            @include size(450px, 450px);
            margin: 0 auto;
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          color: #000;
        }
      }
      .detail_swiper {
        @include size(100%, 170px);
        .swiper-wrapper .swiper-slide {
          img {
            @include size(130px, 130px);
            margin: 0 auto;
          }
        }
        .swiper-slide {
          width: 25%;
          height: 100%;
          opacity: 0.4;
        }
        .swiper-slide-thumb-active {
          opacity: 1;
        }
      }
    }

    .right_box {
      @include size(550px, 650px);
      margin: 0 auto;
      .text {
        text-align: center;
        .item_en01 {
          @include en;
          margin-top: 180px;
        }
        .item_en02 {
          @include en;
          margin-top: 35px;
        }
        .item_ko {
          margin-top: 15px;
          @include ko;
        }
        .item_price {
          margin: 35px 0;
        }
        .item_info {
          @include ko;
          span {
            display: block;
            margin-bottom: 10px;
          }
        }
      }
      select {
        @include size(440px, 40px);
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        box-sizing: border-box;
      }
      .btn_box {
        @include size(440px, 40px);
        display: flex;
        text-align: center;
        @include en;
        margin: 0 auto;
        line-height: 40px;
        .add_goods {
          margin-right: 20px;
          border: 1px solid #000;
          background-color: #fff;
          @include size(210px, 45px);
          box-sizing: border-box;
          cursor: pointer;
        }
        .buy_now {
          border: 1px solid #fff;
          background-color: #000;
          @include size(210px, 45px);
          box-sizing: border-box;
          cursor: pointer;
          color: #fff;
        }
      }
      /*  .btn_box > div:hover {
        background-color: #000;
        color: #fff;
      } */
    }
  }
  .accordion {
    @include size(1080px, auto);
    margin: 0 auto;

    ul {
      li {
        position: relative;
        border-top: 3px solid #444;
        //margin-bottom: 80px;
        .tab_tit {
          @include ko;
          margin: 40px 0;
          margin-left: 35px;
        }

        .toggle {
          font-size: 50px;
          position: absolute;
          right: 15px;
          top: 25px;
          cursor: pointer;
        }

        .accordion_view {
          overflow: hidden;
          height: 0;
          transition: 0.3s;
        }
        .toggle_active {
          height: auto !important ;
        }
      }
      .toggle_margin {
        margin-bottom: 80px;
      }

      .accordion_tab01 {
        @include ko;
        .note_box {
          display: flex;
          // justify-content: space-between;
          .note {
            @include size(340px, auto);
            margin-right: 30px;
            .note_img {
              @include size(100%, 364px);
              background-color: #fff;
              margin-bottom: 5px;
              img {
                @include size(100%, 100%);
              }
            }
            .note_tit {
              @include size(340px, 50px);
              line-height: 50px;
              text-align: center;
              background-color: #fff;
              margin-bottom: 5px;
            }
            .note_txt {
              @include size(340px, 100px);
              text-align: center;
              background-color: #fff;
              box-sizing: border-box;
              font-size: 12px;
              line-height: 23px;
            }
          }
        }
      }
      .accordion_tab02 {
        @include ko;
      }
      .accordion_tab03 {
        @include ko;

        .review_top {
          display: flex;
          margin-bottom: 20px;
        }
        .side_box {
          @include size(90px, auto);
          text-align: center;
          .scope {
            background-color: #fff;
            height: 120px;
            margin-bottom: 10px;
            padding-top: 30px;
            box-sizing: border-box;
          }
          .write {
            background-color: #fff;
            height: 56px;
            line-height: 56px;
            cursor: pointer;
          }
        }
        .review_swiper {
          @include size(970px, auto);
          .swiper-wrapper {
            @include size(100%, 100%);
            .swiper-slide {
              @include size(186px, 186px);
            }
          }
          .swiper-button-prev,
          .swiper-button-next {
            color: rgba(255, 255, 255, 0.8);
          }
        }
        .review_bottom {
          display: flex;
        }
        .review_bottom > div {
          @include size(200px, auto);
          margin-right: 20px;
          background-color: #eee;
          border: 1px solid #eee;
          box-sizing: border-box;
          text-align: center;
          .content_scope {
            background-color: #fff;
            margin-bottom: 1px;
            padding: 20px 0;
          }
          p {
            background-color: #fff;
            margin-bottom: 1px;
            padding: 10px 0;
          }
        }
        .review_bottom > div:last-child {
          margin-right: 0;
        }
      }
      .accordion_tab04 {
        @include ko;
      }
    }
  }
  .recommend {
    @include size(1080px, auto);
    margin: 0 auto;
    border-top: 3px solid #444;
    .recommend_tit {
      @include ko;
      margin: 40px 0;
      margin-left: 35px;
    }
    .recommend_outer {
      display: flex;
    }
    .recommend_item {
      background-color: #fff;
      text-align: center;
      margin-right: 20px;
      cursor: pointer;
      .recommend_img {
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 20px;
      }
      .recommend_en {
        @include en;
      }
      .recommend_ko {
        @include ko;
      }
      .recommend_price {
        span {
          margin-left: 10px;
        }
      }
    }
    .recommend_item:last-child {
      margin-right: 0;
    }
  }
}
//sns
.sns {
  position: relative;
  width: 1300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 200px;
  overflow: hidden;
}
.sns .swiper {
  position: absolute;
  left: -100px;
  top: 0;
  width: 1500px;
}
.sns .swiper .swiper-wrapper .swiper-slide {
  width: 300px;
  height: 300px;
  position: relative;
  margin-right: 15px;
  cursor: pointer;
}
.sns .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.sns .swiper .swiper-wrapper .swiper-slide p {
  height: 70px;
  position: absolute;
  left: 0;
  bottom: -100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 0;
  transition: 0.5s;
  border-radius: 20px 20px 0 0;
}
.sns .swiper .swiper-wrapper .swiper-slide .add_cart {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 8px;
  top: 8px;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 3px;
  box-sizing: border-box;
}
.sns .swiper .swiper-wrapper .swiper-slide .add_cart img {
  width: 100%;
  height: 100%;
}
.sns .swiper .swiper-wrapper .swiper-slide:hover p {
  bottom: 0;
}
.sns .swiper .swiper-button-prev,
.sns .swiper .swiper-button-next {
  background-color: #fff;
  opacity: 0.7;
  color: black;
  width: 90px;
}
.sns .swiper .swiper-button-prev {
  position: absolute;
  left: 100px;
  top: 22px;
  height: 100%;
}
.sns .swiper .swiper-button-next {
  position: absolute;
  right: 100px;
  top: 22px;
  height: 100%;
}

//review_pop_up
.review_pop_up{
  display: none;
  @include size(860px,700px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: $main;
  z-index: 9999;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #000;
  h3{
    @include ko;
    text-align: center;
    margin: 30px;
    font-size: 30px;
  }
  input{
    text-align: center;
    display: block;
  }
  .file{
   
  }
  .img_box{
    @include size (90%, 100px);
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
    .img_flex{
      @include size(20%,100%);
      box-sizing: border-box;
      margin-right: 5%;
      border-radius: 12px;
    }
    .img_flex:last-child{
      margin-right: 0;
    }
  }
  
  .file_btn{
    display: block;
    background-color: #fff;
    @include size (90%,60px);
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  .file_btn:hover{
    background-color: #eee;
  }
  textarea{
    display: block;
    margin: 0 auto;
    width: 90%;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    resize: none;
  }
  textarea:focus{
    outline: none;
  }
  .btn_box{
    display: flex;
    justify-content: center;
  }
  .btn_box > div{
    background-color: #fff;
    border-radius: 12px;
    width: 30%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    //margin: 0 auto;
    cursor: pointer;
  }
  .review_submit{
    margin-right: 10px;
  }
  .review_submit:hover{
    background-color: #efefef;
  }
  .out_btn{
    margin-left: 10px;
  }
  .out_btn:hover{
    background-color: #efefef;
  }
}