* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
img {
  display: block;
  width: 100%;
}
// font
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url(../font/KOTRA_GOTHIC.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bookk Myungjo";
  src: url(../font/부크크명조_굵은글씨.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bookk Myungjo";
  src: url(../font/부크크명조_얇은글씨.woff);
  font-weight: 400;
  font-style: normal;
}

// mixin
$main: #fcf9ee;
$sub: #000;
$border: (0.3px solid #000);
@mixin ko {
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
  font-style: normal;
}

@mixin en {
  font-family: "Bookk Myungjo";
  font-weight: 400;
  font-style: normal;
}
@mixin en_b {
  font-family: "Bookk Myungjo";
  font-weight: 700;
  font-style: bold;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin text($height) {
  text-align: center;
  line-height: $height;
}

body {
  background-color: $main;
  position: relative;
}
///body
h3 {
  @include en();
} //title en
.banner {
  @include size(100%, 40px);
  background-color: #000;
  position: relative;
  overflow: hidden;
  p {
    position: absolute;
    width: 100%;
    color: #fff;
    //animation: rolling 60s infinite both;
    line-height: 40px;
    span {
      cursor: pointer;
    }
    span:hover {
      text-decoration: underline;
    }
  }
  P:hover {
    animation-play-state: paused;
  }
  P:hover ~ p {
    animation-play-state: paused;
  }
  .roll_text1 {
    left: 0;
  }
  .roll_text2 {
    left: 100%;
  }
  .roll_text3 {
    left: 200%;
  }
  .roll_text4 {
    left: 300%;
  }
  .roll_text5 {
    left: 400%;
  }
  .close {
    display: block;
    @include size(30px, 30px);
    position: absolute;
    top: 0;
    right: -25%;
    color: #fff;
  }
}

@keyframes rolling {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
///rolling banner

//visual_main
.visual {
  @include size(100%, 100vh);
  position: relative;
  margin-bottom: 200px;
  video {
    @include size(100%, auto);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .search {
    display: none;
    @include size(100%, 180px);
    left: 0;
    top: 0;
    background-color: #fcf9ee;
    position: absolute;
    .logo {
      @include size(200px, auto);
      padding-top: 10px;
      margin: 0 45px;
      @include en_b();
      p {
        text-align: center;
        font-size: 30px;
        letter-spacing: 5px;
      }
      p:last-child {
        font-size: 12px;
        letter-spacing: 5px;
      }
    }
    input {
      border: none;
      border-bottom: 1px solid #000;
      display: block;
      width: 80%;
      margin: 30px auto;
      background-color: #fcf9ee;
    }
    input:focus {
      outline: none;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
      opacity: 0;
      position: absolute;
      right: 0;
    }
    span {
      position: absolute;
      top: 0;
      right: 1%;
      cursor: pointer;
      font-size: 30px;
    }
  }
}

//bg
//header
.header_outer {
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  box-sizing: border-box;
}
.header {
  @include size(1300px, 80px);
  @include en();
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  color: #fff;
  .logo {
    @include size(200px, auto);
    padding-top: 10px;
    margin: 0 45px;
    color: #fff;
    p {
      text-align: center;
      font-size: 30px;
      letter-spacing: 5px;
    }
    p:last-child {
      font-size: 12px;
      letter-spacing: 5px;
    }
  }
  .menu_box {
    @include size(570px, 100%);
    .menu_list {
      @include size(100%, 100%);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .menu {
        @include size(50px, 50px);
        margin-right: 80px;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
      }
      .menu:hover {
        border-bottom: 0.5px solid #000;
      }
      .new_list {
        width: 800px;
        height: 0;
        display: flex;
        overflow: hidden;
        line-height: 100px;
        transition: 0.2s;
        li {
          margin-right: 50px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
      .menu01:hover .new_list {
        height: 100px;
      }
      .sent_list {
        width: 800px;
        height: 0;
        display: flex;
        overflow: hidden;
        line-height: 100px;
        transition: 0.2s;

        li {
          margin-right: 50px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
      .menu02:hover .sent_list {
        height: 100px;
      }
      .shop_list {
        width: 800px;
        height: 0;
        display: flex;
        overflow: hidden;
        line-height: 100px;
        transition: 0.2s;

        li {
          margin-right: 50px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
      .menu03:hover .shop_list {
        height: 100px;
      }
      .about_list {
        width: 800px;
        height: 0;
        display: flex;
        overflow: hidden;
        line-height: 100px;
        transition: 0.2s;

        li {
          margin-right: 50px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
      .menu04:hover .about_list {
        height: 100px;
      }
    }
  }
  .gnb {
    display: flex;
    margin-right: 45px;
    margin-left: auto;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 140px;
      li {
        @include size(30px, 30px);
        cursor: pointer;
        img {
          @include size(100%, 100%);
        }
      }
      li:first-child img {
        width: 80%;
        height: 80%;
        padding-top: 4px;
        padding-left: 4px;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}
//header

//new
.new {
  @include size(1300px, 600px);
  margin: 0 auto;
  margin-bottom: 200px;
  overflow: hidden;
  h3 {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .new_inner {
    display: flex;
    .swiper {
      @include size(50%, 80%);
    }
    .right_box {
      width: 50%;
    }
  }
}
//new

//collection
.collection {
  @include size(1300px, 600px);
  margin: 0 auto;
  margin-bottom: 200px;
  h3 {
    margin-left: 10px;
  }
  .collection_inner {
    @include size(100%, 100%);
    //background-image: url(../images/main/collection_0.jpg);
    //background-size: 100% 100%;
    display: flex;
    text-align: center;
    position: relative;
    color: #fff;
    //
    .back_img {
      position: absolute;
      left: 0;
      top: 0;
      @include size(100%, 100%);
      img {
        @include size(100%, 100%);
      }
    }
    .back_img:nth-child(1) {
      //display: none;
    }
    .back_img:nth-child(2) {
      display: none;
    }
    .back_img:nth-child(3) {
      display: none;
    }
    .back_img:nth-child(4) {
      display: none;
    }

    a {
      height: 100%;
      text-align: center;
    }
  }
  .collection_box {
    @include size(25%, 100%);

    border: 0.5px solid #ccc;
    box-sizing: border-box;
    position: relative;
  }
  .title {
    position: absolute;
    left: 25%;
    bottom: 20px;
    text-align: center;
    @include en();
    p {
      font-size: 30px;
    }
    span {
      font-size: 25px;
    }
  }
  .title01 {
    position: absolute;
    left: 25%;
    bottom: 50%;
    line-height: 1;

    span {
      font-size: 12px;
    }
  }
}
.hover {
  background-color: rgba(0, 0, 0, 0);
}
.none {
  background-color: rgba(0, 0, 0, 0.4);
}

//collection

//best
.best {
  @include size(1300px, 600px);
  @include en();
  margin: 0 auto;
  margin-bottom: 200px;
  box-sizing: border-box;
  img {
    height: 100%;
  }
  h3 {
    margin-left: 10px;
  }
  .best_inner {
    display: flex;
    @include size(100%, 100%);
    .best_box1 {
      @include size(530px, 100%);
    }
    .best_box2 {
      @include size(770px, 100%);
      display: flex;
      flex-wrap: wrap;
      img {
        @include size(184px, 184px);
        margin: 0 auto;
      }
    }
    .best_box2 > div {
      width: calc(100% / 3);
      text-align: center;
      line-height: 30px;
    }
    .best_box2 > div:hover img {
      scale: 1.1;
      transition: 0.4s;
    }
    .best_box2 > div:hover .text {
      display: none;
    }
    .best_box2 > div:hover .preview_btn {
      display: block;
    }
    .preview_btn {
      text-align: center;
      background-color: #000;
      color: #fff;
      border-radius: 12px;
      @include size(80%, 30px);
      margin: 0 auto;
      margin-top: 10px;
      transition: 0.3s;
      cursor: pointer;
      @include ko();
      display: none;
    }
  }
}
//best

//test
.test {
  @include size(1300px, 600px);
  @include ko();

  margin: 0 auto;
  margin-bottom: 200px;
  overflow: hidden;
  position: relative;

  .start {
    position: relative;
    padding-top: 80px;
    display: none;
    h3 {
      font-size: 40px;
      color: #fff;
      margin-bottom: 55px;
    }
    .test_start {
      @include size(330px, 50px);
      margin: 0 auto;
      background-color: #fff;
      line-height: 50px;
      border-radius: 5px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  //q
  .question {
    padding-top: 45px;
    h3 {
      @include ko;
      margin-bottom: 90px;
      font-size: 25px;
    }
    .answer {
      display: flex;
      justify-content: center;
      align-items: center;
      .img_box1 {
        margin-right: 200px;
      }
      .img_box1,
      .img_box2 {
        font-size: 20px;
        border-radius: 5px;
        overflow: hidden;
        img {
          @include size(350px, 220px);
        }
      }
      p {
        @include size(310px, 50px);
        background-color: #fff;
        margin: 0 auto;
        margin-top: 35px;
        line-height: 50px;
        border-radius: 5px;
        cursor: pointer;
      }
      p:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
//q1
.question1 {
  display: none;
}
//q2
.question2 {
  display: none;
}
//q3
.question3 {
  display: none;
}

.test > div {
  @include size(100%, 100%);
  box-sizing: border-box;
  text-align: center;
}
.test::after {
  content: "";
  display: block;
  @include size(100%, 100%);
  background-image: url(../images/main/test_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.result {
  //display: none;
  h3 {
    margin: 80px 0 65px 0;
    font-size: 25px;
  }
  .result_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      @include size(250px, 250px);
      margin: 0 auto;
      transition: 0.4s;
    }
  }

  .result_img3 {
    margin-right: 0;
  }
}
.result_flex > div {
  @include size(310px, 310px);
  background-color: #fff;
  margin-right: 10px;
}
.result_img:hover img {
  scale: 1.07;
}

//test

//sheet_tab
.tab {
  @include ko();
  @include size(1300px, 600px);
  margin: 0 auto;
  position: relative;
  margin-bottom: 200px;
  input {
    display: none;
  }
  .tab_menu {
    @include size(110px, 610px);
    position: absolute;
    left: 5%;
    top: -5%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 45px 0;
  }
  & label {
    display: block;
    background-color: $main;
    margin: 0 auto;
    margin-bottom: 30px;
    @include size(90px, 100px);
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    span {
      font-weight: bold;
      font-size: 20px;
    }
  }
  &label:last-child {
    margin-bottom: 0;
  }
  .sheet01 {
    @include size(100%, 100%);
    background-image: url(../images/main/tab_anniversary_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: color;
    h3 {
      position: absolute;
      left: 40%;
      top: 15%;
    }
  }
  .sheet01 > div {
    @include size(260px, 335px);
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
  }
  &:last-child {
    margin-right: 0;
  }
}
//tab

//sns
.sns {
  @include size(1300px, 600px);
  margin-bottom: 200px;
  overflow: hidden;
}
//sns

//footer
.footer {
  @include size(1300px, 400px);
  margin: 0 auto;
  margin-bottom: 200px;
  background-color: #444;
  color: #fff;
  padding: 25px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 12px;
  .footer_inner {
    @include size(1250px, 350px);
    margin: 0 auto;
    border: 2px solid #ddd;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .footer_left {
      padding-left: 115px;
      .footer_menu {
        margin-bottom: 30px;
        ul {
          display: flex;
          margin-top: 35px;

          li {
            margin-right: 30px;
            cursor: pointer;
          }
        }
      }
      .info {
        p {
          margin-bottom: 10px;
        }
        span {
          margin-left: 30px;
        }
        p:nth-child(2) span:last-child {
          text-decoration: underline;
        }
        p:nth-child(4) {
          margin-bottom: 40px;
        }
        p:last-child span {
          text-decoration: underline;
        }
      }
    }
    .footer_right {
      margin-right: 250px;
      .logo_box {
        margin-top: 30px;
        @include size(140px, 70px);
        font-size: 12px;
        margin-bottom: 70px;
        p {
          border: 1px solid #fff;
          text-align: center;
          box-sizing: border-box;
        }
        p:last-child {
          border-top: none;
          white-space: nowrap;
          box-sizing: border-box;
          font-size: 10px;
          overflow: hidden;
        }
      }
      .sns_icon {
        display: flex;
        overflow: hidden;
        .insta {
        }
      }
      .sns_icon div {
        @include size(40px, 40px);

        box-sizing: border-box;
        overflow: hidden;
      }
    }
  }
}
