* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
img {
  display: block;
  width: 100%;
}
// font
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url(../font/KOTRA_BOLD_.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bookk Myungjo";
  src: url(../font/부크크명조_굵은글씨.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bookk Myungjo";
  src: url(../font/부크크명조_얇은글씨.woff);
  font-weight: 400;
  font-style: normal;
}

// mixin
$main: #fcf9ee;
$sub: #000;
$border: (0.3px solid #000);
@mixin ko {
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
  font-style: normal;
}
@mixin en {
  font-family: "Bookk Myungjo";
  font-weight: 400;
  font-style: normal;
}
@mixin en_b {
  font-family: "Bookk Myungjo";
  font-weight: 700;
  font-style: bold;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin text($height) {
  text-align: center;
  line-height: $height;
}

body {
  background-color: $main;
  position: relative;
}
///body

.banner {
  @include size(500%, 30px);
  background-color: #000;
  top: 0;
  left: 0;
  padding-top: 5px;
  display: flex;
  overflow: hidden;
  p {
    width: 100%;
    color: #fff;
    //animation: rolling 45s infinite both;
  }
  .close {
    display: block;
    @include size(30px, 30px);
    position: absolute;
    top: 0;
    right: -25%;
    color: #fff;
  }
}

@keyframes rolling {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-500%);
  }
}
///rolling banner

//visual_main
.visual {
  @include size(100vw, 100vh);
  position: relative;
  video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

//bg
//header
.header {
  @include size(1300px, 50px);
  @include en();
  display: flex;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin: 0 auto;
  border-right: none;
  border-left: none;
  .logo {
  }
  .menu {
    ul {
      display: flex;
    }
  }
  .gnb {
    display: flex;
    ul {
      display: flex;
    }
    img {
      @include size(30px, 30px);
    }
  }
}
